.Header {
    position: fixed;
    width: 100%;
    padding: 50px 0px;
    z-index: 100;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
  }
  
  .HeaderScrolled {
    background: rgba(0, 0, 0, 0.8);
    padding: 15px 0;
    backdrop-filter: blur;
  }
  
  .HeaderGroup {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-items: center;
    align-items: center;
  }
  
  .HeaderGroup a {
    color: white;
    font-weight: 700;
    background: transparent;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
  }
  
  .HeaderGroup a:hover {
    transform: scale(1.2);
  }
  
  @media (max-width: 640px) {
    .Header {
      padding: 15px 0;
    }

    .HeroGroup b {
      font-size: 17px;
      font-weight: 600;
      color: white;
      text-transform: uppercase;
      background: rgba(0, 0, 0, 0.7);
      padding: 9px 20px;
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-radius: 20px;
      transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    }
   
    .HeroGroup b:hover {
      background:  white;
      color: black;
    }
  }
  